
h1 {
    text-align: center;
}

.game-container {
    position: fixed;
    top: 160px;
    left: 0;
    right: 15px;
    bottom: 60px;
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

#playerIcon {
    height: 100px;
    width: 100px;
    background-color: blue;
}

.hitclass {
    height: 100px;
    width: 100px;
    background-color: orange;
}

#goal {
    height: 100px;
    width: 100px;
    background-color: yellowgreen;
    position: fixed;
    top: 250px;
    left: 475px;
}

#rect1 {
 background-color: forestgreen;
}
