


h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
    text-align: center;
    color: whitesmoke;
    margin: 15px 0 0 0;
}

header {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: whitesmoke;
    border: solid rgba(255, 255, 255, 0.3) 2px;
}

body {
    background-color: rgb(75, 74, 74);
}

.startButton {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px; 
    font-size: 150px;
    font-family: 'Amatic SC', cursive;
    color: red;
    opacity: 1;
}

.startButtonHidden {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px; 
    font-size: 150px;
    font-family: 'Amatic SC', cursive;
    opacity: 0;
}

.game-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 160px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black; 
    animation: colorchange 10s; 
    -webkit-animation: colorchange 50s; 
    }

@keyframes colorchange {
    0%   {background: rgb(28, 28, 28);}
    25%  {background: rgb(0, 0, 0);}
    50%  {background: rgb(28, 28, 28);}
    75%  {background: rgb(26, 0, 0);}
    100% {background: rgb(0, 0, 0);}
}

@-webkit-keyframes colorchange 
{
    0%   {background: rgb(28, 28, 28);}
    25%  {background: rgb(0, 0, 0);}
    50%  {background: rgb(28, 28, 28);}
    75%  {background: rgb(26, 0, 0);}
    100% {background: rgb(0, 0, 0);}
}



.playerIcon {
    width:0;
    height:0;
    border-right:50px solid transparent;
    border-top:50px solid rgb(67, 19, 67);
    border-left:50px solid rgb(67, 19, 67);
    border-bottom:50px solid rgb(67, 19, 67);
    border-radius: 50%;
}

.hitClass {
    height: 75px;
    width: 75px;
    background-color: black;
}


.goal {
    height: 100px;
    width: 100px;
    position: fixed;
    top: 550px;
    left: 675px;

}

.goalHit {
    width:0; 
    height:75px; 
    border-right:50px solid yellow;
    border-left:50px solid yellow;
    border-bottom:30px solid transparent;
    position: fixed;
    top: 550px;
    left: 675px;
    opacity: 0.4;
    filter: blur(8px);
}

.obstacle {
    height: 100px;
    width: 100px;
    position: fixed;
    top: 350px;
    left: 375px;

}

.obstacleHit {
    width:0; 
    height:75px; 
    border-right:50px solid red;
    border-left:50px solid red;
    border-bottom:30px solid transparent;
    position: fixed;
    top: 350px;
    left: 375px;
    opacity: 0.4;
    filter: blur(8px);
}

.obstacle2 {
    height: 100px;
    width: 100px;
    position: fixed;
    top: 225px;
    left: 840px;

}

.obstacleHit2 {
    width:0; 
    height:75px; 
    border-right:50px solid red;
    border-left:50px solid red;
    border-bottom:30px solid transparent;
    position: fixed;
    top: 225px;
    left: 830px;
    opacity: 0.4;
    filter: blur(8px);
}

.gameoverHidden {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px; 
    font-size: 150px;
    font-family: 'Amatic SC', cursive;
    color: blue;
    opacity: 0;
}

.gameover {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -230px; 
    font-size: 150px;
    font-family: 'Amatic SC', cursive;
    color: red;
    opacity: 1;
}

.youwinHidden {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px; 
    font-size: 150px;
    font-family: 'Amatic SC', cursive;
    opacity: 0;
}

.youwin {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px; 
    font-size: 150px;
    font-family: 'Amatic SC', cursive;
    color: red;
    opacity: 1;
}